* {
    padding: 0;
    margin: 0;
}
html{
    background-color: #f9f9f9;
}

body{
    font-size:12px;
}

ul {
    li {
        width: 100px;
        height: 100px;
        &:nth-child(1) {
            background: url('../statics/imgs/01.png');
        }
        &:nth-child(2) {
            background: url('../statics/imgs/02.jpg');
        }
    }
}
