* {
    padding: 0;
    margin: 0;
}
html {
    background-color: #f9f9f9;
}
body {
    font-size: 14px;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url('../statics/fonts/DINPro_Regular.ttf'); /* IE9+ */
}
